.App {
  /* width: 30rem; */
  
  /* display:inline-block;
  gap: 10px; */
  margin-left: 10%;
  margin-right: 55%;
.h1, h1 {
  display: table-row;
  /* align-items: center; */
  
  font-family:'Times New Roman', Times, serif;
  font-style: oblique;
  font-size: 2.5rem;
  text-align: center;
  margin-left: 10%;
  /* padding: 20%; */
  /* margin-left: ; */
  
}
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */



/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
