/* src/Login.css */

/* body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0077cc; 
  } */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    border-radius: 1%;
    width:220%;
    background-color: #87CEEB; /* Sky Blue color */
  }
  
  .login-box {
    background-color: #FFFFFF; /* White color for the box */
    padding: 20px;
    border-radius: 8px;
    width: 60vh;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  }
  
  .logtext {
    color: #87CEEB; /* Sky Blue color for the heading text */
  }
  
  label {
    color: #000000; /* Black color for labels */
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #87CEEB; /* Sky Blue border for inputs */
    border-radius: 4px;
  }
  
  .login-button {
    background-color: #87CEEB; /* Sky Blue color for the button */
    color: #FFFFFF; /* White color for the button text */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #4682B4; /* Darker shade on hover */
  }
  